<!doctype html>
<html lang="pt-Br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../../assets/img/icone.png" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />

    <!-- Fontawesome 5 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- GoogleFonts - OpenSans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- Javascript -->
    <script src="../../assets/js/jquery-3.5.1.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/exemplo6.js"></script>

    <!-- CSS Personalizado-->
    <link rel="stylesheet" href="../../assets/css/master.css" />

    <title>Javascript</title>
</head>

<body class="bg-dark">

    <div class="container">

        <!-- Navbar -->

        <nav class="navbar navbar-expand-md fixed-top bg-dark">
            <a class="navbar-brand" href="#">Menu</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../../index.html">Página Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Formulário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Formulário</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01"
                            data-toggle="dropdown">Javascript</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="./exemplo1.html">Exemplo 1</a>
                            <a class="dropdown-item" href="./exemplo2.html">Exemplo 2</a>
                            <a class="dropdown-item" href="./exemplo3.html">Exemplo 3</a>
                            <a class="dropdown-item" href="./exemplo4.html">Exemplo 4</a>
                            <a class="dropdown-item" href="./exemplo5.html">Exemplo 5</a>
                            <a class="dropdown-item" href="./exemplo6.html">Exemplo 6</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron text-light">
            <h1 class="d-flex justify-content-end">Projeto de Modelo</h1>
            <p class="d-flex justify-content-end">Javascript</p>
        </div>
        <div class="container fundo">
            <!-- Inicio Container Principal-->
            <h1>exemplo6</h1>

            <br><br>
            <form>
                <label>digite aqui</label>
                <input id = "campo1" type="text" name="campo1">
                <br>
                <input id="valor2" type="number" name="valor2">
                <br>
                <input type="button" id="verificar"  value="verificar">
                <br><br>
                <label>resultado</label>
                <br>
                <input type="text" name="campo2">
            </form>
            <!-- Fim Container Principal-->
        </div>
</body>

</html>